*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
.DS_Store
.merlin
.bsb.lock
.idea
npm-debug.log
/lib/bs/
/node_modules/
**/*.bs.js
/build/
/dist/
coverage
stats.json
/app/node_modules
bin/*
!/plugins
!/plugins/android.json
!/plugins/fetch.json
plugins/*

node_modules
www/*

.gradle
CordovaLib
build
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle build artifacts
.gradle
.gradletasknamecache
/build
/CordovaLib/build
/app/build
gradle-app.setting
# Android Studio
.idea

/app/platforms
/app/www