@use 'sass:math';

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

p, li, u, a, span, div {
  -webkit-user-select: text;
  user-select: text;
}

.hidden {
  display: none;
}

.center-wrapper {
  margin: 10px auto;
  padding: 10px 10px;
  text-align: left;
  border: 1px solid black;
  width: 75%;
  min-width: 150px;
}

@import "popup.scss";
@import "autoSuggestion.scss";